parameters:
  level: max
  autoload_files:
  paths:
    - %rootDir%/../../../config
    - %rootDir%/../../../public/index.php
    - %rootDir%/../../../src
    - %rootDir%/../../../tests
  excludes_analyse:
    - %rootDir%/../../../.php_cs
